.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul{
    display: flex;
    
}
nav ul li{
    padding: 10px;
    list-style: none;
    font-family: 'Pattaya', sans-serif
    }
nav ul li a{
    text-decoration: none;
   
}
nav ul li a:hover{
    color: red;
    font-style: italic;
    font-weight: bold;
}
